
<div class="container" style="border: 7px solid;border-radius: 1rem;border-color: aqua;">

<div class="example-button-row" style="text-align: center;margin-top: 1rem;">
<button mat-raised-button color="primary" style="background-color: #b39ddb;"><p [routerLink]="['/aboutme']">About Me</p></button>
<button mat-raised-button color="accent" style="background-color: #ce93d8;"><p [routerLink]="['/skill']">Skill</p></button>
<button mat-raised-button color ="warn" style="background-color: #f48fb1;"><p [routerLink]="['/contactme']">Contact Me</p></button>
<button mat-raised-button color="red" style="background-color: #ef9a9a;"><p [routerLink]="['/portfoliome']">Portfoliome</p></button>
</div>
<div class="container" style="text-align: center;">
  <router-outlet></router-outlet>
</div>
</div>
